{% extends 'base.html.twig' %}

{% block title %}Casting index
{% endblock %}

{% block body %}
	<h1>Liste castings</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description_cast</th>
				<th>Object_cast</th>
				<th>Date_cast</th>
				<th>Type_cast</th>
				<th>Location</th>
				<th>Casting_place</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for casting in castings %}
				<tr>
					<td>{{ casting.title }}</td>
					<td>{{ casting.descriptionCast }}</td>
					<td>{{ casting.objectCast }}</td>
					<td>{{ casting.dateCast ? casting.dateCast|date('Y-m-d') : '' }}</td>
					<td>{{ casting.typeCast }}</td>
					<td>{{ casting.location }}</td>
					<td>{{ casting.castingPlace }}</td>
					<td>
						<a href="{{ path('casting_show', {'id': casting.id}) }}">show</a>
						<a href="{{ path('casting_edit', {'id': casting.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('casting_new') }}">Create new</a>
{% endblock %}
